body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 200px;
  height: auto;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #007bff;
  color: #fff;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

p {
  margin: 5px 0;
}

h2 {
  color: #007bff;
  margin-top: 0;
}

h3 {
  cursor: pointer;
}

.phase {
  margin-bottom: 20px;
}

.phase h3 {
  margin-bottom: 5px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

strong {
  color: #007bff;
}

section {
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
  margin: 20px 0;
}

.image-container img {
  max-width: 300px;
  height: auto;
  border-radius: 20%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
}

.pdf-button-container {
  text-align: center;
  margin: 20px 0;
}

#generate-pdf {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#generate-pdf:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .image-container img {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 18px;
  }

  .image-container img {
    max-width: 150px;
  }
}
